<.form let={f} for={@changeset} action={@action}>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= label f, :from, class: "db fw4 lh-copy f6" %>
  <%= time_select f, :from, class: "pa2 input-reset ba bg-transparent w-100 measure" %>
  <%= error_tag f, :from %>

  <%= label f, :to, class: "db fw4 lh-copy f6" %>
  <%= time_select f, :to, class: "pa2 input-reset ba bg-transparent w-100 measure"  %>
  <%= error_tag f, :to %>

  <div>
    <%= submit "Save", class: "mt3 ph3 pv2 input-reset ba b--black bg-transparent dim pointer f5"%>
  </div>
</.form>
