<section class="mw7 center">
    <h1>Listing Apartments</h1>

    <ul class="list" >
    <%= for apartment <- @apartments do %>
        <li class="lh-copy pv3 bb b--black-30 flex justify-between items-center">
          <span><%= apartment.name %></span>
          <span><%= link "Delete", to: Routes.apartment_path(@conn, :delete, apartment), method: :delete, data: [confirm: "Are you sure?"], class: "f6 link dim ph3 pv2 dib white bg-red"%></span>
        </li>
    <% end %>
    </ul>

    <h1>Create New Apartment </h1>
    <%= render "form.html", Map.put(assigns, :action, Routes.apartment_path(@conn, :create)) %>

</section>

